body {
  margin: 0;
  font-family: "Helvetica Neue", 'Lato', 'Helvetica', sans-serif;
  overflow:hidden;
}


#mainscreen {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#mapSVG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;
}

#svgPositioner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

#sidebar {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 280px;
  border-left: 2px solid #888;
  z-index: 600;
  background-color: #fff;
}





circle {
  /*fill: rgba(30, 80, 120, 0.8);*/
  /*stroke: #222;*/
  z-index: 200;
}

circle.single {
  fill: rgba(30, 80, 120, 1);
  stroke: #222;
  z-index: 200;
}

circle.recommended {
  z-index: 300;
}

circle.selected {
  stroke-width: 3px;
  stroke: #222;
}

#bubblecursor {
  fill: rgba(40, 115, 152, 0.3);
  stroke: none;
}

path.group {
  opacity: 0.6;
  fill: none;
  stroke: #888;
  stroke-width: 3px;
}

path.highlighted {
  stroke-width: 5px;
  stroke: #444;
}

path.selected {
  stroke: #289cd5;
}

#tooltips {
  z-index: 300;
}


div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0;
  border-radius: 8px;
  pointer-events: none;
}

.label {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-anchor: bottom;
}

.label {
  fill: #006;
}

.spacer-after::after {
  content: "•";
  color: #999;
  margin: 0 6px;
}

.spacer-before::before {
  content: "•";
  color: #999;
  margin: 0 6px;
}

.no-overflow {
  text-overflow: ellipsis;
}

#rankingSliderContainer {
  position: fixed;
  bottom: 8px;
  left: 50px;
  width: 1000px;
  height: 80px;
  z-index: 500;
}

#canvasPositioner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  pointer-events: none;
}

#canvasClip {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#canvasContainer {
  position: absolute;
  top: 0;
  left: 0;
}


#popoverPositioner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#popoverContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#popoverLines {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 300;
  pointer-events: none;
}

.popover-line {
  position: absolute;
  transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  height: 2px;
  background: #000;
  opacity: 0.5;
  z-index: 300;
}

.clusterpop {
  position: absolute;
  z-index: 300;
  max-width: 300px;
  pointer-events: none;
}

.clusterpop div {
}

.clusterrow {
  padding: 3px 8px;
  background-color: rgba(50, 67, 116, 0.9);
  font-size: 0.9em;
  color: #fff;
}

.selection-popover {
  position: absolute;
  z-index: 400;
  background-color: rgba(30, 80, 120, 0.9);
  font-size: 0.9em;
  color: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  max-width: 230px;
}

.selection-popover .infobox {
  max-height: 102px;
  padding: 6px 12px;
  overflow: hidden;
}

.selection-popover .header {
  float: left;
}

.selection-popover .title {
  overflow: hidden;
}

.selection-popover .title .name {
  font-size: 1em;
  text-decoration: none;
  font-weight: bold;
  max-height: 3em;
}

.selection-popover .othernodes {
  text-align: right;
  font-size: 0.9em;
  padding-top: 6px;
}

.selection-popover .ratings {
  overflow: hidden;
  margin-top: 4px;
}

.selection-popover .details {
  padding: 12px 12px 0 12px;
  max-height: 3em;
}

.selection-popover .infobox .ratings img {
  height: 12px;
  margin-top: 4px;
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.95);
}

.selection-popover .infobox .ratings .rank {
  margin-right: 10px;
  margin-left: 2px;
  color: #fff;
  top: -4px;
  position: relative;
}

.selection-popover .explanation {
  font-size: 0.9em;
  font-style: italic;
  padding-top: 6px;
}

.selection-popover .reviews {
  margin-left: 8px;
  position: relative;
  top: -4px;
}



.note-popover {
  position: absolute;
  z-index: 400;
  /*background-color: rgba(30, 80, 120, 0.9);*/
  font-size: 0.9em;
  color: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.note-popover .infobox {
  max-height: 72px;
  padding: 6px 12px;
  overflow: hidden;
}

.note-popover .header {
  float: left;
  max-width: 180px;
}

.note-popover .title {
  overflow: hidden;
}

.note-popover .title .name {
  font-size: 1em;
  text-decoration: none;
  font-weight: bold;
  max-height: 3em;
}

.note-popover .infobox .ratings {
  overflow: hidden;
}


.note-popover .expandableContent {
  text-align: center;
  font-size: 0.9em;
}

.note-popover .expandLabel {
  position: absolute;
  bottom: -24px;
  left: 6px;
  width: 30px;
  height: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 2px 0 6px 0;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}

.note-popover .details {
  padding: 12px 12px 0 12px;
  max-height: 3em;
}

.note-popover .snippetsDrawer {
  font-size: 1em;
  width: 400px;
}

.note-popover .imageContainer {
  width: 400px;
  height: 110px;

}

.leaf-popover {
  position: absolute;
  z-index: 400;
  background-color: #fff;
  border: 2px solid black;
  font-size: 1em;
}

.leaf-popover .expandableContent {
  text-align: center;
  font-size: 0.9em;
  border-top: 1px solid #ddd;
  background-color: #eee;
}

.leaf-popover .expandLabel {
  cursor: pointer;
  padding: 4px 0;
}

.leaf-popover .infobox {
  height: 124px;
  padding: 6px 0 6px 12px;
  overflow: hidden;
}

.leaf-popover .infobox .header {
  float: left;
  max-width: 220px;
}

.leaf-popover .infobox .title {
  font-weight: bold;
  margin-bottom: 12px;
  max-width: 220px;
  max-height: 3em;
  overflow: hidden;
}

.leaf-popover .infobox .title .name {
  font-size: 1.2em;
  text-decoration: none;
  color: #000;
}

.yelplink {
  color: #1b89ac;
}

.note-popover .yelplink {
  color: #88d9f3;
  margin-right: 12px;
}

.yelplink:hover {
  cursor: pointer;
}

.leaf-popover .infobox .ratings {
  color: #888;
  max-width: 220px;
  height: 25px;
  padding-bottom: 6px;
  overflow: hidden;
}

.leaf-popover .infobox .ratings img {
  height: 16px;
  margin-right: 12px;
}

.note-popover .infobox .ratings img {
  height: 12px;
  margin-top: 4px;
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.95);
}

.note-popover .infobox .ratings .rank {
  margin-right: 10px;
  margin-left: 2px;
  color: #fff;
  top: -4px;
  position: relative;
}

.note-popover .explanation {
  font-size: 0.8em;
  font-style: italic;
}

.leaf-popover .infobox .details {
  max-width: 220px;
  height: 25px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.imageContainer .imageWrapper {
  width: 110px;
  height: 110px;
  padding: 0 10px;
}

.leaf-popover .imageContainer {
  width: 130px;
  height: 110px;
  margin-left: 6px;
  float: left;
}

.snippetsWrapper {
  overflow: hidden;
}

.snippetsDrawer {
  display: none;
  text-align: left;
  min-height: 30px;
}

.leaf-popover .snippetsDrawer {
  font-size: 1em;
  width: 600px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}


.snippets {
  padding: 12px;
}

.snippets ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.snippets li:not(:last-child) {
  margin-bottom: 0.5em;
}




#datadump {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  background-color: rgb(233, 243, 255);
  font-size: 0.9em;

}



#sidebar .rows {

      position: absolute;
      top: 0;
      margin-bottom: 28px;
      left: 0;
      width: 100%;
      height: 100%;

  margin-bottom: 44px;

}

#sidebar .rowPositioner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

}



#sidebar .row {
  border-bottom: 2px solid #888;
  padding: 8px 4px 12px 4px;
  position: absolute;
  left: 0;
  height: 188px;
  width: 257px;
}

.row .imageContainer .imageWrapper {
  width: 72px;
  height: 72px;
  padding: 0 10px;
}

.row .header {
  font-size: 1.1em;
  font-weight: bold;
}

.row .header .rank {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 4px 4px 2px;
  background-color: #888;
  color: #fff;
  border-radius: 0 0 5px;
  -moz-border-radius: 0 0 5px;
  -webkit-border-radius: 0 0 5px;
}

.row .header .title {
  margin-left: 8px;
}

.row .header .title a {
  text-decoration: none;
  color: #000;
}

.row .header .tagline {
  margin: 6px 8px;
  font-size: 0.8em;
  font-weight: normal;
  font-style: italic;
}

.row .details {
  margin: 6px 0 0 10px;
}

.row .details .rating {
  position: relative;
  top: 2px;
}

.row .details img {
  height: 16px;
}

.row .details .bot {
  margin-top: 2px;
  margin-bottom: 4px;
  font-size: 0.83em;
}

.row .imageContainer {
  height: 100px;
}




#sidebar .rowPositioner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 44px;
  overflow-y: scroll;

}



#filterContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* top: 37px; */
  height: 100%;
  overflow-y: scroll;
}

#filterConfig {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 320px;
  border-right: 2px solid #888;
  z-index: 600;
  background-color: #fff;
}


#filterConfig .title {
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
  padding: 8px 12px;
  border-bottom: 2px solid #888;
}

.titleRow {
  padding: 8px 0 4px 16px;
}

.filterRow {
  height: 32px;
  margin: 0 3px;
  padding-left: 8px;

  overflow: hidden;

  background-color: #eee;

  border: 1px solid #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.filterRow:hover {
  border-color: rgb(7, 23, 70);
  border-style: inset;
}

.filterRow .label {
  padding-top: 8px;
  font-size: 13px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 172px;
  max-height: 20px;
  font-weight: normal;
}

.filterRow .colorSample {
  float: right;
  width: 40px;
  height: 20px;
  margin-top: 6px;
  margin-left: 20px;


  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;

}

.filterRow .addRemove {
  float: right;
  width: 54px;
  height: 20px;
  margin-top: 6px;
  float: right;
}
.filterRow .addRemove input {
  display: none;
}

#filterConfig .marker {
  display: none;
}

.filterRow.applied {
  background: #999db3;
  color: #fff;
}

.switch-button-label {
  font-size: 16px;
}

#appliedFilters {
  border-bottom: 1px solid #888;
  padding-bottom: 6px;
}


#filterConfig .legend {
  position: absolute;
  bottom: 8px;
  left: 330px;
  max-width: 280px;
  pointer-events: none;
  background-color: rgba(255,255,255,0.6);
}

#filterConfig .legendRow {
  height: 22px;
  width: 230px;
}
#filterConfig .sample {
  position: relative;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  border: 1px solid #333;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
#filterConfig .label {
  font-weight: normal;
  font-size: 0.8em;
}

#filterConfig .plusRow {
  height: 24px;
  width: 230px;
}
#filterConfig .plusRow .label {
  position: relative;
  top: 4px;
  left: 24px;
  max-width: 200px;
}

#filterConfig .legendRow .label {
  position: relative;
  top: -11px;
  left: 24px;
  max-width: 200px;
}

#filterConfig .colorRow {
  position: relative;
  bottom: 0;
  left: 0;
  width: 264px;
  height: 22px;
}
#filterConfig .left {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 32px;
}
#filterConfig .grad {
  position: absolute;
  top: 2px;
  left: 36px;
  width: 184px;
  height: 18px;
  border: 1px solid #333;
  background-image: url(viridis.png);
  background-repeat: repeat-y;
  background-size: contain;
}
#filterConfig .right {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 32px;
}









.collapseButton {
  position: relative;
  width: 30px;
  height: 15px;
  padding: 4px 6px;
  font-size: 13px;
  text-align: center;
  color: white;
  font-weight: bold;
  border: 2px solid #4e505c;
  background-color: #999db3;
  cursor: pointer;
  z-index: 600;
}

#filterConfig .collapseButton {
  left: 320px;
  top: 20px;

}

#sidebar .collapseButton {
  right: 46px;
  top: 20px;

}








.recc-toggle {
  border-top: 2px solid #888;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 329px;
  height: 28px;
  font-size: 1.2em;
  padding: 8px;
}

.recc-toggle .txt {
  position: absolute;
  top: 10px;
  left: 60px;
}

/* .squaredOne */
.squaredOne {
  width: 28px;
  height: 28px;
  background: #d8dee4;
  position: relative;
  left: 10px;
  /*background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);*/
}
.squaredOne label {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 4px;
  cursor: pointer;
  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}
.squaredOne label:after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: #4ca3f3;
  opacity: 0;
}
.squaredOne label:hover::after {
  opacity: 0.3;
}
.squaredOne input[type=checkbox] {
  visibility: hidden;
}
.squaredOne input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/* end .squaredOne */
